In [1]:
# import necessary modules 
# please run this everytime you open it
import pandas as pd 
import numpy as np 
import matplotlib as plt 
import re
import os
import warnings
warnings.filterwarnings('ignore')
# import krippendorff.py
%run krippendorff.py
%run Validation.ipynb

In [2]:
to_reliability("Specialists data", "Covid_Evidencev1-2020-10-04T1836-DataHunt.csv", "cl", "T1.Q11")

array([[ 0.,  1.,  0., ...,  0.,  0.,  0.],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ...,  0.,  1.,  0.]])

In [3]:
compute_alpha("Specialists data",
              "Covid_Evidencev1-2020-10-04T1836-DataHunt.csv", "cl",
              "T1.Q11",
              "ordinal", 6)

0.072473

In [4]:
decompose_question("T1.Q11")

11

In [5]:
get_question_type("Argument relevance", "T1.Q3")

'mc'

**get_measurement**

In [6]:
get_question_types("Specialists DataHuntByCase")

This dataframe is empty
Covid2.1_Language-2020-12-02T0750-DataHuntByCase.csv
Covid_ArgumentRelevancev1.2-2020-12-02T0749-DataHuntByCase.csv
T1.Q1 mc nominal
Covid_Evidencev1-2020-12-02T0749-DataHuntByCase.csv
T1.Q1 cl
T1.Q2 cl
T1.Q3 tx
T1.Q7 tx
T1.Q8 mc ordinal
T1.Q9 mc nominal
T1.Q12 mc ordinal
T1.Q13 mc ordinal
T1.Q14 mc ordinal
T1.Q4 mc ordinal
T1.Q10 mc ordinal
T1.Q11 mc ordinal
T1.Q5 mc ordinal
T1.Q6 mc nominal
Covid_Holisiticv1.2-2020-12-02T0749-DataHuntByCase.csv
T1.Q1 mc nominal
T1.Q3 cl
T1.Q5 mc nominal
T1.Q6 cl
T1.Q7 mc ordinal
T1.Q8 mc ordinal
T1.Q9 cl
T1.Q10 cl
T1.Q11 mc ordinal
T1.Q12 mc ordinal
T1.Q13 mc ordinal
T1.Q14 mc nominal
T1.Q15 cl
T1.Q17 mc ordinal
T1.Q18 mc ordinal
T1.Q4 tx
T1.Q2 tx
T1.Q16 tx
Covid_Probabilityv1-2020-12-02T0750-DataHuntByCase.csv
T1.Q1 mc ordinal
T1.Q5 mc ordinal
T1.Q6 mc nominal
T1.Q11 mc ordinal
T1.Q12 cl
T1.Q13 mc ordinal
T1.Q14 mc ordinal
T1.Q2 mc ordinal
T1.Q7 mc ordinal
T1.Q10 mc ordinal
Covid_Reasoningv1-2020-12-02T0750-DataHuntByCase.csv
T1.Q1 cl
T1.Q2 cl
T1.Q7 mc ordinal
T1.Q8 tx
T1.Q9 mc ordinal
T1.Q10 mc ordinal
T1.Q6 cl
T1.Q3 cl
T1.Q4 mc nominal
T1.Q5 mc nominal
Covid_SourceRelevancev1-2020-12-02T0751-DataHuntByCase.csv
T1.Q1 cl
T1.Q2 mc ordinal
T1.Q3 mc nominal
T1.Q5 cl
T1.Q6 cl
T1.Q7 cl
T1.Q8 mc nominal
T1.Q9 mc ordinal
T1.Q10 mc ordinal
T1.Q4 cl

In [7]:
calculate_alpha("Specialists DataHuntByCase", "Specialists output")

Covid2.1_Language-2020-12-02T0750-DataHuntByCase.csv
This dataframe is empty

Covid_ArgumentRelevancev1.2-2020-12-02T0749-DataHuntByCase.csv
T1.Q1 mc nominal alpha: 0.1875967900886949 # of pairable values: 141

Covid_Evidencev1-2020-12-02T0749-DataHuntByCase.csv
T1.Q1 cl T1.Q1.A1 alpha: 0.21019130178515877 # of pairable values: 379
T1.Q1 cl T1.Q1.A2 alpha: 0.008926765298146289 # of pairable values: 379
T1.Q1 cl T1.Q1.A3 alpha: 0.16752661089110943 # of pairable values: 379
T1.Q2 cl T1.Q2.A8 alpha: 0.0005221386800333683 # of pairable values: 137
T1.Q2 cl T1.Q2.A3 alpha: 0.07905511811023624 # of pairable values: 137
T1.Q2 cl T1.Q2.A9 alpha: 0.08756912943515816 # of pairable values: 137
T1.Q2 cl T1.Q2.A6 alpha: 0.03340440653873489 # of pairable values: 137
T1.Q2 cl T1.Q2.A1 alpha: 0.06689722736983739 # of pairable values: 137
T1.Q2 cl T1.Q2.A2 alpha: -0.025345181134655004 # of pairable values: 137
T1.Q2 cl T1.Q2.A4 alpha: 0.040877628313961134 # of pairable values: 137
T1.Q2 cl T1.Q2.A7 alpha: 0.06798245614035092 # of pairable values: 137
T1.Q2 cl T1.Q2.A5 alpha: 0.06681165724227933 # of pairable values: 137
T1.Q8 mc ordinal alpha: 0.13905618090209415 # of pairable values: 139
T1.Q9 mc nominal alpha: 0.05326450481175238 # of pairable values: 379
T1.Q12 mc ordinal alpha: 0.15015094028171772 # of pairable values: 379
T1.Q13 mc ordinal alpha: 0.033136711920013884 # of pairable values: 379
T1.Q14 mc ordinal alpha: -0.0016592887729971473 # of pairable values: 379
T1.Q4 mc ordinal alpha: 0.13992877091981604 # of pairable values: 74
T1.Q10 mc ordinal alpha: 0.12271907006150373 # of pairable values: 137
T1.Q11 mc ordinal alpha: 0.027971037149836064 # of pairable values: 137
T1.Q5 mc ordinal alpha: 0.42758458348799944 # of pairable values: 31
T1.Q6 mc nominal alpha: 0.0 # of pairable values: 17

Covid_Holisiticv1.2-2020-12-02T0749-DataHuntByCase.csv
T1.Q1 mc nominal alpha: -0.008620689655172376 # of pairable values: 10
T1.Q3 cl T1.Q3.A2 alpha: 1.0 # of pairable values: 10
T1.Q3 cl T1.Q3.A1 alpha: 0.0 # of pairable values: 10
T1.Q3 cl T1.Q3.A12 There has to be more than one value in the domain.
T1.Q3 cl T1.Q3.A4 alpha: 0.0 # of pairable values: 10
T1.Q3 cl T1.Q3.A5 There has to be more than one value in the domain.
T1.Q3 cl T1.Q3.A3 There has to be more than one value in the domain.
T1.Q5 mc nominal alpha: 0.23026315789473673 # of pairable values: 10
T1.Q6 cl T1.Q6.A1 alpha: 0.0625 # of pairable values: 10
T1.Q6 cl T1.Q6.A2 alpha: 0.0 # of pairable values: 10
T1.Q6 cl T1.Q6.A4 There has to be more than one value in the domain.
T1.Q6 cl T1.Q6.A7 alpha: -0.125 # of pairable values: 10
T1.Q6 cl T1.Q6.A8 alpha: 0.0 # of pairable values: 10
T1.Q6 cl T1.Q6.A5 alpha: 0.0 # of pairable values: 10
T1.Q6 cl T1.Q6.A3 alpha: 0.0 # of pairable values: 10
T1.Q7 mc ordinal alpha: 0.5911764705882353 # of pairable values: 10
T1.Q8 mc ordinal alpha: 0.44200000000000006 # of pairable values: 10
T1.Q9 cl T1.Q9.A9 alpha: 0.0 # of pairable values: 7
T1.Q9 cl T1.Q9.A2 alpha: 0.0 # of pairable values: 7
T1.Q10 cl T1.Q10.A2 alpha: -0.0714285714285714 # of pairable values: 10
T1.Q10 cl T1.Q10.A4 alpha: 0.1428571428571429 # of pairable values: 10
T1.Q10 cl T1.Q10.A1 alpha: 0.0 # of pairable values: 10
T1.Q10 cl T1.Q10.A3 alpha: -0.2857142857142856 # of pairable values: 10
T1.Q10 cl T1.Q10.A5 There has to be more than one value in the domain.
T1.Q11 mc ordinal alpha: 0.26049999999999995 # of pairable values: 10
T1.Q12 mc ordinal alpha: 0.6415 # of pairable values: 10
T1.Q13 mc ordinal alpha: 0.0 # of pairable values: 10
T1.Q14 mc nominal alpha: 0.4375 # of pairable values: 10
T1.Q15 cl T1.Q15.A1 alpha: 0.20000000000000007 # of pairable values: 7
T1.Q15 cl T1.Q15.A3 alpha: 0.0 # of pairable values: 7
T1.Q15 cl T1.Q15.A2 alpha: 0.0 # of pairable values: 7
T1.Q15 cl T1.Q15.A4 alpha: nan # of pairable values: 7
T1.Q17 mc ordinal alpha: -0.15949999999999998 # of pairable values: 10
T1.Q18 mc ordinal alpha: 0.38479020979020984 # of pairable values: 10

Covid_Probabilityv1-2020-12-02T0750-DataHuntByCase.csv
T1.Q1 mc ordinal alpha: 0.305074967594842 # of pairable values: 237
T1.Q5 mc ordinal alpha: 0.23179111982413547 # of pairable values: 237
T1.Q6 mc nominal alpha: 0.4016248723705452 # of pairable values: 237
T1.Q11 mc ordinal alpha: 0.08660508309676462 # of pairable values: 237
T1.Q12 cl T1.Q12.A3 alpha: 0.2734254992319508 # of pairable values: 45
T1.Q12 cl T1.Q12.A2 alpha: 0.07226890756302518 # of pairable values: 45
T1.Q12 cl T1.Q12.A4 alpha: 0.02674897119341557 # of pairable values: 45
T1.Q12 cl T1.Q12.A1 alpha: 0.03296703296703296 # of pairable values: 45
T1.Q12 cl T1.Q12.A5 alpha: -0.09999999999999987 # of pairable values: 45
T1.Q13 mc ordinal alpha: -0.04547095786043909 # of pairable values: 237
T1.Q14 mc ordinal alpha: -0.05233707217512973 # of pairable values: 237
T1.Q2 mc ordinal alpha: 0.34797154354351045 # of pairable values: 120
T1.Q7 mc ordinal alpha: 0.1223691376259991 # of pairable values: 49
T1.Q10 mc ordinal alpha: 0.14003059978570187 # of pairable values: 49

Covid_Reasoningv1-2020-12-02T0750-DataHuntByCase.csv
T1.Q1 cl T1.Q1.A1 alpha: 0.20020374687041342 # of pairable values: 187
T1.Q1 cl T1.Q1.A6 alpha: 0.2000579273716594 # of pairable values: 187
T1.Q1 cl T1.Q1.A3 alpha: 0.20003877503877499 # of pairable values: 187
T1.Q1 cl T1.Q1.A2 alpha: 0.08176221517796922 # of pairable values: 187
T1.Q1 cl T1.Q1.A5 alpha: -0.03910614525139655 # of pairable values: 187
T1.Q1 cl T1.Q1.A4 alpha: 0.13308364544319606 # of pairable values: 187
T1.Q2 cl T1.Q2.A5 alpha: -0.06257378984651707 # of pairable values: 55
T1.Q2 cl T1.Q2.A6 alpha: 0.2940507768093975 # of pairable values: 55
T1.Q2 cl T1.Q2.A2 alpha: 0.1923076923076923 # of pairable values: 55
T1.Q2 cl T1.Q2.A3 alpha: 0.6785714285714286 # of pairable values: 55
T1.Q2 cl T1.Q2.A1 alpha: -0.008000000000000007 # of pairable values: 55
T1.Q2 cl T1.Q2.A4 alpha: nan # of pairable values: 55
T1.Q7 mc ordinal alpha: 0.2705936627538894 # of pairable values: 60
T1.Q9 mc ordinal alpha: 0.06108836724025446 # of pairable values: 187
T1.Q10 mc ordinal alpha: -0.08114228526104328 # of pairable values: 187
T1.Q6 cl T1.Q6.A9 alpha: 0.27328843995510654 # of pairable values: 38
T1.Q6 cl T1.Q6.A7 alpha: 0.047794117647058876 # of pairable values: 38
T1.Q6 cl T1.Q6.A5 alpha: -0.02777777777777768 # of pairable values: 38
T1.Q6 cl T1.Q6.A6 alpha: 0.0 # of pairable values: 38
T1.Q6 cl T1.Q6.A8 alpha: 0.7279411764705883 # of pairable values: 38
T1.Q6 cl T1.Q6.A1 alpha: -0.009090909090909038 # of pairable values: 38
T1.Q6 cl T1.Q6.A10 alpha: 0.0 # of pairable values: 38
T1.Q6 cl T1.Q6.A2 alpha: 0.03645833333333337 # of pairable values: 38
T1.Q6 cl T1.Q6.A4 alpha: 0.4558823529411765 # of pairable values: 38
T1.Q6 cl T1.Q6.A3 alpha: nan # of pairable values: 38
T1.Q3 cl T1.Q3.A7 alpha: 0.052341597796143335 # of pairable values: 44
T1.Q3 cl T1.Q3.A1 alpha: -0.04878048780487787 # of pairable values: 44
T1.Q3 cl T1.Q3.A6 alpha: 0.264957264957265 # of pairable values: 44
T1.Q3 cl T1.Q3.A5 alpha: 0.0 # of pairable values: 44
T1.Q3 cl T1.Q3.A3 alpha: -0.023809523809523947 # of pairable values: 44
T1.Q3 cl T1.Q3.A2 alpha: nan # of pairable values: 44
T1.Q4 mc nominal alpha: nan # of pairable values: 0
T1.Q5 mc There has to be more than one value in the domain.

Covid_SourceRelevancev1-2020-12-02T0751-DataHuntByCase.csv
T1.Q1 cl T1.Q1.A1 alpha: 0.13517220260911622 # of pairable values: 472
T1.Q1 cl T1.Q1.A2 alpha: 0.13517220260911622 # of pairable values: 472
T1.Q2 mc ordinal alpha: 0.46717283584385294 # of pairable values: 473
T1.Q3 mc nominal alpha: 0.38446853151584015 # of pairable values: 473
T1.Q5 cl T1.Q5.A7 alpha: 0.4198629336094083 # of pairable values: 466
T1.Q5 cl T1.Q5.A6 alpha: 0.0555917366905988 # of pairable values: 466
T1.Q5 cl T1.Q5.A9 alpha: 0.4298007879271426 # of pairable values: 466
T1.Q5 cl T1.Q5.A5 alpha: 0.09458164948029824 # of pairable values: 466
T1.Q5 cl T1.Q5.A3 alpha: 0.30140252255403566 # of pairable values: 466
T1.Q5 cl T1.Q5.A8 alpha: 0.17204802680531295 # of pairable values: 466
T1.Q5 cl T1.Q5.A2 alpha: 0.3305801161557741 # of pairable values: 466
T1.Q5 cl T1.Q5.A4 alpha: 0.0 # of pairable values: 466
T1.Q5 cl T1.Q5.A1 alpha: 0.7286731240518147 # of pairable values: 466
T1.Q6 cl T1.Q6.A1 alpha: 0.5718550968467552 # of pairable values: 455
T1.Q6 cl T1.Q6.A2 alpha: 0.5718550968467552 # of pairable values: 455
T1.Q7 cl T1.Q7.A4 alpha: 0.2937596044688413 # of pairable values: 472
T1.Q7 cl T1.Q7.A6 alpha: 0.1991885967421908 # of pairable values: 472
T1.Q7 cl T1.Q7.A3 alpha: 0.05782333839055864 # of pairable values: 472
T1.Q7 cl T1.Q7.A1 alpha: 0.2757190709483126 # of pairable values: 472
T1.Q7 cl T1.Q7.A2 alpha: 0.032791656560756666 # of pairable values: 472
T1.Q7 cl T1.Q7.A5 alpha: 0.0 # of pairable values: 472

T1.Q8 mc nominal alpha: 0.13299171838873058 # of pairable values: 473
T1.Q9 mc ordinal alpha: -0.019119982594356655 # of pairable values: 473
T1.Q10 mc ordinal alpha: -0.017148697749389097 # of pairable values: 473
T1.Q4 cl T1.Q4.A1 alpha: 0.011046133853151341 # of pairable values: 141
T1.Q4 cl T1.Q4.A9 alpha: 0.03097587719298245 # of pairable values: 141
T1.Q4 cl T1.Q4.A6 alpha: 0.0 # of pairable values: 141
T1.Q4 cl T1.Q4.A7 alpha: 0.0 # of pairable values: 141

**runtime warning**

In [8]:
df = pd.read_csv("Specialists DataHuntByCase/Covid_Probabilityv1-2020-12-02T0750-DataHuntByCase.csv")
df["question_label"].unique()

array(['T1.Q1', 'T1.Q5', 'T1.Q6', 'T1.Q11', 'T1.Q12', 'T1.Q13', 'T1.Q14',
       'T1.Q2', 'T1.Q7', 'T1.Q10'], dtype=object)

In [9]:
df = pd.read_csv("Specialists DataHuntByCase/Covid_Probabilityv1-2020-12-02T0750-DataHuntByCase.csv")
df = df[df["question_label"] == "T1.Q6"]
cols = ["quiz_task_uuid", "contributor_uuid", "question_label", "answer_label"]
df = df.reindex(columns=cols)
array = to_reliability_mc(df)
alpha(reliability_data=array, level_of_measurement="nominal")

0.4016248723705452

Might need some future analysis.

**cl question demo**

In [10]:
df = pd.read_csv("Specialists DataHuntByCase/Covid_SourceRelevancev1-2020-12-02T0751-DataHuntByCase.csv")
df = df[df["question_label"] == "T1.Q1"]
cols = ["quiz_task_uuid", "contributor_uuid", "question_label", "answer_label"]
df = df.reindex(columns=cols)
df.iloc[8:10]

,quiz_task_uuid,contributor_uuid,question_label,answer_label
83,9d4ac736-52b7-40df-b2a9-6164fa081960,38b9cf3a-588d-4137-a975-af770121a925,T1.Q1,T1.Q1.A1
84,9d4ac736-52b7-40df-b2a9-6164fa081960,38b9cf3a-588d-4137-a975-af770121a925,T1.Q1,T1.Q1.A2

This guy selected both A1 and A2 as the answer choices, so confirmed that this is a cl question.

In [11]:
df.head()

,quiz_task_uuid,contributor_uuid,question_label,answer_label
0,9d4ac736-52b7-40df-b2a9-6164fa081960,00f548b7-6b63-4b47-828e-8e416b6ca0e2,T1.Q1,T1.Q1.A1
11,9d4ac736-52b7-40df-b2a9-6164fa081960,e44f5799-6915-45fd-874e-060f6afedcb9,T1.Q1,T1.Q1.A1
23,9d4ac736-52b7-40df-b2a9-6164fa081960,fed45769-aa61-4b8b-847e-a9c799acce15,T1.Q1,T1.Q1.A1
32,9d4ac736-52b7-40df-b2a9-6164fa081960,fb4ae4cc-234b-484a-b541-a8e3a9254a24,T1.Q1,T1.Q1.A2
43,9d4ac736-52b7-40df-b2a9-6164fa081960,3bb03f58-5f09-4414-b54e-43a814b9b09a,T1.Q1,T1.Q1.A1

In [12]:
# one-hot-encode the dataframe 
one_hot_encode = pd.get_dummies(df, columns = ["answer_label"])
one_hot_encode[8:10]

,quiz_task_uuid,contributor_uuid,question_label,answer_label_T1.Q1.A1,answer_label_T1.Q1.A2
83,9d4ac736-52b7-40df-b2a9-6164fa081960,38b9cf3a-588d-4137-a975-af770121a925,T1.Q1,1,0
84,9d4ac736-52b7-40df-b2a9-6164fa081960,38b9cf3a-588d-4137-a975-af770121a925,T1.Q1,0,1

In [13]:
# as an example, first select the first answer only 
one_hot_encode = one_hot_encode.iloc[:, 0:4]
one_hot_encode.head()

,quiz_task_uuid,contributor_uuid,question_label,answer_label_T1.Q1.A1
0,9d4ac736-52b7-40df-b2a9-6164fa081960,00f548b7-6b63-4b47-828e-8e416b6ca0e2,T1.Q1,1
11,9d4ac736-52b7-40df-b2a9-6164fa081960,e44f5799-6915-45fd-874e-060f6afedcb9,T1.Q1,1
23,9d4ac736-52b7-40df-b2a9-6164fa081960,fed45769-aa61-4b8b-847e-a9c799acce15,T1.Q1,1
32,9d4ac736-52b7-40df-b2a9-6164fa081960,fb4ae4cc-234b-484a-b541-a8e3a9254a24,T1.Q1,0
43,9d4ac736-52b7-40df-b2a9-6164fa081960,3bb03f58-5f09-4414-b54e-43a814b9b09a,T1.Q1,1

In [14]:
# construct a pivot_table 
pivot = pd.pivot_table(one_hot_encode, values="answer_label_T1.Q1.A1", 
                       index="contributor_uuid", 
                       columns="quiz_task_uuid", 
                       aggfunc=lambda x: list(x)[0])
# let's look at where that contributor is 
pivot.loc["38b9cf3a-588d-4137-a975-af770121a925", "9d4ac736-52b7-40df-b2a9-6164fa081960"]

1.0

This is correct because that user input a 1 for A1.

In [15]:
# convert to array 
array = pivot.to_numpy()
array

array([[ 0., nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [ 0., nan, nan, ..., nan, nan, nan],
       ...,
       [ 0., nan, nan, ..., nan, nan, nan],
       [nan,  1., nan, ..., nan, nan, nan],
       [ 1., nan, nan, ..., nan, nan, nan]])

In [16]:
alpha(reliability_data=array, level_of_measurement="nominal")

0.13517220260911622

**Why nan?**

In [18]:
source = pd.read_csv("Specialists DataHuntByCase/Covid_Reasoningv1-2020-12-02T0750-DataHuntByCase.csv")
source = source[source["question_label"] == "T1.Q4"]
cols = ["quiz_task_uuid", "contributor_uuid", "question_label", "answer_label"]
source = source.reindex(columns=cols)
source = pd.pivot_table(data=source, values="answer_label", index="contributor_uuid",
                        columns="quiz_task_uuid", aggfunc=select)
array = source.to_numpy()
array = to_int(array)
display(array)
try:
    print(np.round(alpha(reliability_data=array, level_of_measurement="nominal"), 5))
except Exception as e: 
    print(e)

array([[nan, 3],
       [1, nan]], dtype=object)

nan

**More than one value in the domain?**

In [22]:
source = pd.read_csv("Specialists DataHuntByCase/Covid_Reasoningv1-2020-12-02T0750-DataHuntByCase.csv")
source = source[source["question_label"] == "T1.Q5"]
cols = ["quiz_task_uuid", "contributor_uuid", "question_label", "answer_label"]
source = source.reindex(columns=cols)
source = pd.pivot_table(data=source, values="answer_label", index="contributor_uuid",
                        columns="quiz_task_uuid", aggfunc=select)
array = source.to_numpy()
array = to_int(array)
display(array)
try:
    print(np.round(alpha(reliability_data=array, level_of_measurement="nominal"), 5))
except Exception as e: 
    print(e)

array([[nan, 3],
       [3, nan]], dtype=object)

There has to be more than one value in the domain.

**Why 0?**

In [25]:
source = pd.read_csv("Specialists DataHuntByCase/Covid_Evidencev1-2020-12-02T0749-DataHuntByCase.csv")
source = source[source["question_label"] == "T1.Q6"]
cols = ["quiz_task_uuid", "contributor_uuid", "question_label", "answer_label"]
source = source.reindex(columns=cols)
source = pd.pivot_table(data=source, values="answer_label", index="contributor_uuid",
                        columns="quiz_task_uuid", aggfunc=select)
array = source.to_numpy()
array = to_int(array)
display(array)
try:
    print(np.round(alpha(reliability_data=array, level_of_measurement="nominal"), 5))
except Exception as e: 
    print(e)

array([[3, nan],
       [3, nan],
       [2, nan],
       [2, nan],
       [3, nan],
       [3, nan],
       [3, nan],
       [2, nan],
       [3, nan],
       [3, nan],
       [3, nan],
       [2, nan],
       [2, nan],
       [3, nan],
       [2, nan],
       [3, nan],
       [2, nan],
       [nan, 1]], dtype=object)

0.0

**Why negative?**

In [23]:
source = pd.read_csv("Specialists DataHuntByCase/Covid_Evidencev1-2020-12-02T0749-DataHuntByCase.csv")
source = source[source["question_label"] == "T1.Q14"]
cols = ["quiz_task_uuid", "contributor_uuid", "question_label", "answer_label"]
source = source.reindex(columns=cols)
source = pd.pivot_table(data=source, values="answer_label", index="contributor_uuid",
                        columns="quiz_task_uuid", aggfunc=select)
array = source.to_numpy()
array = to_int(array)
display(array)
try:
    print(np.round(alpha(reliability_data=array, level_of_measurement="nominal"), 5))
except Exception as e: 
    print(e)
# df = pd.DataFrame(array)
# df.to_excel('example2.xlsx')

array([[5, 5, 5, ..., 5, 5, 5],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, 7, ..., nan, nan, 9]], dtype=object)

-0.00925

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4974794/#:~:text=Krippendorff's%20alpha%20in%20contrast%20is,negative%20values%20indicate%20inverse%20agreement.<br>
Krippendorff’s alpha in contrast is based on the observed disagreement corrected for disagreement expected by chance. This leads to a range of −1 to 1 for both measures, where 1 indicates perfect agreement, 0 indicates no agreement beyond chance and negative values indicate inverse agreement.